* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/ipr2.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin:-20px 0 50px;   	   */
}

.html{
    scroll-behavior: smooth;
}

h1 {   
    color: #fff; 
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.main{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(141, 135, 135);
    padding: 30px;
}

.container{
    background: #41c3ff;
    background: linear-gradient(to right, #2bceff,
    #4154ff) no-repeat 0 0 / cover;  
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(5, 57, 94, .5);
    -moz-box-shadow: 0 4px 20px rgba(5, 57, 94, .5);
    -webkit-box-shadow: 0 4px 20px rgba(5, 57, 94, .5);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 80%;
    min-height: 500px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.table_applicant{
    color: rgb(0, 0, 0);
}

.table_applicant, tr, th, td{
    padding: 5px 10px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

.form-container form{
    background: #fff;
    padding: 5px;
    margin-top: 3%;
    margin-bottom: 2%;
    height: 50%;
    border-radius: 7px;
}

.form-input{
    background: rgb(238, 238, 238);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px 0;
    width: 80%;
    box-shadow: 0 0 5px #4154ff;
}

.form-select{
    background: rgb(238, 238, 238);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px 75px;
    width: 80%;
    box-shadow: 0 0 5px #4154ff;
}

.button{  
    background: #41c3ff;
    background: linear-gradient(to right, #2bceff, #4154ff) no-repeat 0 0 / cover;
    border: 1px solid white;
    border-radius: 5px;	
	padding: 6px 25px;
	color: rgb(255, 255, 255);
	text-decoration: none; 	   
    transition:0.5s;
}	

.button:hover{
    background: #41c3ff;
    background: linear-gradient(to right, #4154ff, #2bceff) no-repeat 0 0 / cover;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#removeRow{
    position: relative;
    margin-left: 76%;
    background: rgb(173, 8, 8);
    padding: 5px 10px;
}

#removeRow:hover{
    background: rgb(245, 11, 11);
}

#addRow{
    margin-right: 59%;
}

::-webkit-input-placeholder {
    color: #212425;
}

#termsChkbx{
    cursor: pointer;
}

/* print
@media print {
    
    .btnp {
      display: none;
    }
    .btn1{
        display: none;
    }
    .main{
        font-size: 26px;
        margin-left: 5%;
        margin-right: 0%;
        border: 0px ;
        box-shadow: 0 0 0 rgb(141, 135, 135);
        padding: 30px;
    }
    .horizontal_line{
        display: none;
    }
    .heading{
        display: none;
    }
    #preview-title{
        display: none;
    }
    #last {page-break-after: always;}
    html, body {
        width: 210mm;
        height: 297mm;
      }
      hr{display: none;}
    #letter{
        margin-top: 20%;
    }
    #letter1{
        display: block;
        margin-top: 25%;
    }
  } */

  @media screen and (max-width: 990px) {
    .form-select{
        margin: 10px 74px;
    }
  }